.filmCard {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poster {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.details {
  padding: 10px;
}

.title {
  margin: 0;
  font-size: 18px;
}

.year {
  margin-top: 5px;
  font-size: 14px;
}

.rating {
  margin-top: 5px;
  font-size: 14px;
}
